<div class="_back" [routerLink]="'/'">Back</div>
<div class="rules-controls">
  <div class="rules-button _blue" (click)="_changeSource(_sourceEnum.blue)">{{_sourceEnum.blue}}</div>
  <div class="rules-button _red" (click)="_changeSource(_sourceEnum.red)">{{_sourceEnum.red}}</div>
  <div class="rules-button _green" (click)="_changeSource(_sourceEnum.green)">{{_sourceEnum.green}}</div>
  <div class="rules-button _yellow" (click)="_changeSource(_sourceEnum.yellow)">{{_sourceEnum.yellow}}</div>
  <div class="rules-button _pnp" (click)="_changeSource(_sourceEnum.pnpBase)">{{_sourceEnum.pnpBase}}</div>
</div>
<pdf-viewer [src]="_activePdfSource"
            [original-size]="false"
></pdf-viewer>
