<div class="main-bg-wrapper"
     [ngClass]="{
     '_red': _selectedAddon == (_addonEnum.volcano) || _selectedAddon == (_addonEnum.meteor),
     '_green': _selectedAddon == _addonEnum.forest,
     '_yellow': _selectedAddon == _addonEnum.desert
   }">
  <div class="main">
    <div class="addons-control _base">
      <div class="radio">
          <label [ngClass]="{'_selected': _selectedBase == _addonEnum.base}">
            {{_addonEnum.base}}
            <input type="radio"
                   name="{{_addonEnum.base}}"
                   value="{{_addonEnum.base}}"
                   [(ngModel)]="_selectedBase" (ngModelChange)="_rollDices()"/>
          </label>
        <label [ngClass]="{'_selected': _selectedBase == _addonEnum.challenge}">
          {{_addonEnum.challenge}}
          <input type="radio"
                 name="{{_addonEnum.challenge}}"
                 value="{{_addonEnum.challenge}}"
                 [(ngModel)]="_selectedBase" (ngModelChange)="_rollDices()"/>
        </label>
      </div>
    </div>
    <div class="addons-control">
      <div class="radio">
        <ng-container *ngFor="let addon of _addons; let first = first">
          <label [ngClass]="{'_selected': _selectedAddon == addon, '_first': first}">
            {{addon}}
            <input type="radio"
                   name="{{addon}}"
                   value="{{addon}}"
                   [(ngModel)]="_selectedAddon" (ngModelChange)="_addonChanged()"/>
          </label>
        </ng-container>
      </div>
    </div>
    <div class="dice-tray">
      <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.baseA"></app-dice>
      <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.baseA"></app-dice>
      <ng-container *ngIf="_selectedBase == _addonEnum.base">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.baseA"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.baseB"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedBase == _addonEnum.challenge">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.challengeC"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.challengeD"></app-dice>
      </ng-container>

      <ng-container *ngIf="_selectedAddon == _addonEnum.river">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.river"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.river"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedAddon == _addonEnum.lake">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.lake"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.lake"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedAddon == _addonEnum.volcano">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.volcano"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.volcano"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedAddon == _addonEnum.meteor">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.meteorA"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.meteorB"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedAddon == _addonEnum.forest">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.forest"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.forest"></app-dice>
      </ng-container>
      <ng-container *ngIf="_selectedAddon == _addonEnum.desert">
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.desertA"></app-dice>
        <app-dice [visiblePreviousRoll]="_visiblePreviousRoll" [dice]="_dices.desertB"></app-dice>
      </ng-container>
    </div>
    <button *ngIf="!_visiblePreviousRoll" (click)="_rollDices()">ROLL</button>
    <button class="_small" (click)="_visiblePreviousRoll = !_visiblePreviousRoll">
      {{_visiblePreviousRoll ? 'Current' : 'Previous'}} roll
    </button>
  </div>

</div>
