/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(90deg, #4e3173, #8558a2);
}
